# Every path in this repository requires review from the owner.
# See CONTRIBUTING.md — external pull requests are not accepted under the
# proprietary license; this file governs internal review only.

* @mpghugues-source
